<div class="task-list h-full">
  @if(tasks.length === 0) {
  <div class="flex flex-col items-center justify-center h-full">
    <h3>No task added yet! click on the below button to a add new Task</h3>
    <button
      routerLink="/add-task"
      routerLinkActive="active"
      class="mt-4 inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
    >
      Add New Task
    </button>
  </div>
  } @else {
  <div>
    <app-task-filter (filterChange)="onFilterChange($event)"></app-task-filter>
    @if(filteredTasks.length === 0) {
    <h2 class="p-4">No Task Found Here!</h2>
    }
    <div class="flex justify-start flex-wrap hover: cursor-pointer">
      @for (task of filteredTasks ; track task.id) {
      <app-task-item
        [task]="task"
        (delete)="deleteTask(task.id)"
        (toggle)="toggleTaskCompletion(task.id)"
      ></app-task-item>
      }
    </div>
  </div>
  }
</div>
